* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  line-height: 0;
  vertical-align: middle;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
  /*text-rendering: optimizeLegibility;*/
  /* this causes problems in Chrome for Windows and on iOS */
  -webkit-overflow-scrolling: touch;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

body, select, input, textarea {
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  overflow-y: scroll;
}

a:hover, a:active {
  outline: none;
}

ul, ol {
  list-style: none;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

textarea {
  overflow: auto;
}

.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::-moz-selection {
  background: #1d78af;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #1d78af;
  color: #FFF;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #1d78af;
}

button {
  width: auto;
  overflow: visible;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.a11y-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.ui-block:last-child,
.ui-block.last {
  margin-right: 0;
}

body {
  background: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h5 {
  padding: 12px;
  margin: 20px 0;
  font-size: 36px;
  background-color: black;
  color: yellow;
}

.headlines-mod {
  padding: 0 40px;
}

.l-site-width {
  margin: 0 auto;
}

.site-nav-mod {
  background-color: #3e606f;
}

nav {
  overflow: hidden;
  padding: 0;
  color: #fff;
  height: 78px;
}
nav h1 {
  display: inline-block;
}

.logo {
  font-size: 1.6em;
  width: 8%;
  max-width: 150px;
  line-height: 78px;
  background-color: #69a2bb;
  font-weight: normal;
  text-align: center;
  margin-right: 15px;
}
.logo:hover {
  background-color: #5797b3;
}

.input-mod {
  width: 82%;
}

.logo,
.input-mod,
.headline-search-input,
.search-toggle,
.headline-search {
  display: inline-block;
}

.headline-search-input {
  width: 95%;
  position: relative;
  overflow: hidden;
  padding: 13px;
  border-radius: 4px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: white;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.token {
  color: #eee;
  display: inline-block;
}

.search-toggle {
  text-transform: uppercase;
  font-size: 0.9em;
}
.search-toggle span {
  padding: 13px;
  background-color: #548195;
  color: rgba(255, 255, 255, 0.8);
}
.search-toggle span:hover {
  background-color: #507b8e;
}
.search-toggle span.active {
  background-color: #69a2bb;
}
.search-toggle span.active:hover {
  background-color: #5797b3;
}
.search-toggle span:first-child {
  border-radius: 3px 0 0 3px;
}
.search-toggle span:last-child {
  border-radius: 0 3px 3px 0;
}

.headline-search {
  position: relative;
  width: 80%;
}

.search-term-wrapper {
  overflow: hidden;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.tokens li {
  color: black;
  position: relative;
  z-index: 2;
  height: 100%;
  vertical-align: middle;
  color: #fff;
  background-color: #69a2bb;
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  margin-right: 4px;
  -webkit-animation: popIn 0.3s ease;
  cursor: pointer;
}
.tokens li:last-child {
  margin-right: 0;
}
.tokens li:hover {
  background-color: #5797b3;
}

@-webkit-keyframes popIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.result-filter-wrapper {
  padding: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 3px 4px 0px rgba(178, 178, 178, 0.2);
}

.l-static {
  *zoom: 1;
  *zoom: 1;
}
.l-static:after {
  content: "";
  display: table;
  clear: both;
}
.l-static > .ui-block-1 {
  width: 100%;
  float: left;
  margin-right: -190px;
}
.l-static > .ui-block-1 > .ui-block-inner {
  margin-right: 190px;
}
.l-static > .ui-block-2 {
  width: 150px;
  float: right;
}
.l-static:after {
  content: "";
  display: table;
  clear: both;
}
.l-static .ui-block-1 {
  float: right;
}
.l-static .ui-block-2 {
  float: left;
}

.tz {
  background-color: #fff;
  padding: 15px 25px;
  max-width: 1100px;
  margin: 0 auto;
  border: 1px solid #ececec;
}
.tz + .tz {
  margin-top: 15px;
}

.tz-timestamp {
  color: #383437;
}

.tz-byline {
  color: #474245;
}

.tz-head {
  font-size: 18px;
  margin-bottom: 0.5em;
}

.tz-head-link,
.source-link {
  color: #565153;
  text-decoration: none;
}
.tz-head-link:hover,
.source-link:hover {
  color: #474245;
}

.tz-text {
  font-size: 14px;
  line-height: 19px;
  color: #7a7577;
}
.tz-text b {
  color: #69a2bb;
  font-weight: normal;
}

.tz-social-mod {
  background-color: #f9f9f9;
  height: 85px;
  padding: 1em;
}

.tz-social {
  font-size: 11px;
  cursor: pointer;
  position: relative;
}
.tz-social:hover .share-info {
  display: block;
}

.share-info {
  display: none;
  background-color: #fff;
  box-shadow: 0 1px 2px #dad7d7;
  padding: 10px;
  position: absolute;
  max-width: 85px;
  top: 15px;
  right: 35px;
}
.share-info:before, .share-info:after {
  position: absolute;
  top: -5px;
  content: '\0020';
  width: 10px;
  height: 10px;
  background-color: white;
  background-color: #dad7d7;
  transform: rotate(45deg);
  right: 10px;
}
.share-info:after {
  background-color: #fff;
  top: -4px;
}

.tz-source {
  color: #7a7577;
  font-size: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}

.source-link {
  color: #7a7577;
}

.share-num {
  font-weight: 800;
  display: inline-block;
  position: relative;
  top: -3px;
  color: #bfbbbc;
}

.social-heat-item {
  display: inline-block;
  margin-right: 2px;
  width: 10px;
  height: 10px;
  border: 1px solid #cb1e48;
  border-radius: 50%;
}
.social-heat-item:last-child {
  margin-right: 0;
}
.social-heat-item:first-child, .social-heat-item:nth-child(2), .social-heat-item:nth-child(3) {
  background-color: #cb1e48;
  border: none;
}

.social-shares-label {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 5px;
  color: #bfbbbc;
}

.social-shares {
  margin-top: 5px;
}
.social-shares:first-child {
  margin-top: 0;
}

.social-shares-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-size: contain;
  opacity: 0.2;
}
.facebook .social-shares-icon {
  background-image: url("../img/facebook.svg");
}
.twitter .social-shares-icon {
  background-image: url("../img/twitter.svg");
}

.opener-mod {
  text-align: center;
  padding: 40px 0;
}
.opener-mod img {
  max-width: 100%;
  opacity: 0.3;
  position: relative;
  left: -20px;
  margin-bottom: 20px;
}

.opener-head {
  font-size: 24px;
  color: #7a7577;
  font-weight: 400;
  margin: 20px 0;
}

.what {
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
  color: #7a7577;
}
