/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 224 of /Users/alisharamos/Desktop/Projects/sndMakes4/static/scss/screen.scss

219: 	padding: 40px;
220: 	& + & {
221: 		margin-top: 40px;
222: 	}
223: }

Backtrace:
/Users/alisharamos/Desktop/Projects/sndMakes4/static/scss/screen.scss:224
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/scss/parser.rb:1163:in `expected'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/scss/parser.rb:1099:in `expected'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/scss/parser.rb:1094:in `tok!'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/scss/parser.rb:643:in `block'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/scss/parser.rb:635:in `ruleset'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/scss/parser.rb:660:in `block_child'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/scss/parser.rb:42:in `parse'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/engine.rb:393:in `_to_tree'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/engine.rb:268:in `render'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `each'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/sass-3.4.2/lib/sass/plugin/compiler.rb:329:in `block in watch'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/alisharamos/.rvm/gems/ruby-2.0.0-p451/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 224 of /Users/alisharamos/Desktop/Projects/sndMakes4/static/scss/screen.scss\A \A 219: 	padding: 40px;\A 220: 	& + & {\A 221: 		margin-top: 40px;\A 222: 	}\A 223: }"; }
