{% extends "base.twig" %}


{% block content %}


{# =============================== #}
        {# Header #}
<nav>
        {% block header %}
        <div class="logo">
                <h1>Anglr</h1>
        </div>
        {% endblock %} {# /header #}

        <div class="input-mod">
                {# =============================== #}
                {# Search #}
                {% block search %}
                        {% include "search-form.twig" %}
                {% endblock %} {# /search} #}


                {# =============================== #}
                {# Filters #}
                {# block search_filters %}
                        <div class="search-filter-mod">
                                {# include "search-filters.twig" #}
                        </div> <!-- /search-filter-mod -->
                {# endblock %}  {# /filters #}

        </div> <!-- /input-mod -->
</nav>


        <div class="result-mod">
                {# =============================== #}
                {# Results  #}
                {% block result_filters %}
                        <div class="result-filter-mod">
                                <ul class="tokens">
                                        <li>Keyword</li>
                                        <li>Another</li>
                                        <li>Keyword</li>
                                </ul>
                                {# include "result-filters.twig" #}
                        </div> <!-- /result-filter-mod -->
                {% endblock %}



                {# =============================== #}
                {# Results  #}
                {% block headlines %}
                        <div class="headlines-mod">
                                {% include "headlines.twig" %}
                        </div> <!-- /headlines -->
                {% endblock %} {# /headlines #}
        </div> <!-- /result-mod -->


{% endblock %} {# /content #}
