{% extends "base.twig" %}


{% block content %}


{# =============================== #}
        {# Header #}
<nav>
        {% block header %}
        <div class="logo">
                <h1>Anglr</h1>
        </div>
        {% endblock %} {# /header #}

        <div class="input-mod">
        	<div class="l-site-width">
                {# =============================== #}
                {# Search #}
                {% block search %}
                        {# include "search-form.twig" #}
                        <form action="" method="get" id="search_form">
                                <div class="search-term-wrapper">
                                        <ul class="tokens">
                                                <li>boston</li>
                                                <li>patriots</li>
                                        </ul>
                                </div>
                        <input type="search" class="search-field" id="search" name="search" value="">
                        </input>
                        <!-- TODO: this needs to be <li>'s -->
                </form>
                <div class="search-toggle">
                        <span class="active">Trending</span><span>Latest</span>
                </div>
                <span class="search-icon">
                </span>
                        {% include "search-form.twig" %}
                {% endblock %} {# /search} #}
                </div> <!-- /l-site-width -->


                {# =============================== #}
                {# Filters #}
                {# block search_filters %}
                        <div class="search-filter-mod">
                                {# include "search-filters.twig" #}
                        </div> <!-- /search-filter-mod -->
                {# endblock %}  {# /filters #}

        </div> <!-- /input-mod -->
</nav>


        <div class="result-mod">
                {# =============================== #}
                {# Results  #}
                {% block result_filters %}
                        <div class="result-filter-mod">
                                <ul class="tokens">
                                        <li>Keyword</li>
                                        <li>Another</li>
                                        <li>Keyword</li>
                                </ul>
                                {# include "result-filters.twig" #}
                        </div> <!-- /result-filter-mod -->
                {% endblock %}



                {# =============================== #}
                {# Results  #}
                {% block headlines %}
                        <div class="headlines-mod">

                        </div> <!-- /headlines -->
                {% endblock %} {# /headlines #}
        </div> <!-- /result-mod -->


{% endblock %} {# /content #}
