{% block search %}
<form class="headline-search" action="/" method="get">
  <input type="search" id="headline-search-input" class="headline-search-input js-headline-search" placeholder="Yo! Search me!"></input>
  <label for="headline-search-input">Label</label>
  <input type="submit" class="headline-search-submit">
</form>
{% endblock %}
