// --------------------------------------------
// --------------------------------------------
//
// Upbase imports
//
// --------------------------------------------
// --------------------------------------------

@import "base";




// --------------------------------------------
// --------------------------------------------
//
// Type Variables
//
// --------------------------------------------
// --------------------------------------------

$base-font: 'Open Sans', sans-serif;




// --------------------------------------------
// --------------------------------------------
//
// Color Variables
//
// --------------------------------------------
// --------------------------------------------




$bg: #f9f9f9;

$social-hot: #cb1e48;

$primary: #3e606f;
$secondary: #69a2bb;
$inactive-bg: #548195;
$inactive-text: rgba(255,255,255,0.8);


$black-100: 	#2a272b; 				// 42, 29, 43
$black-90: 		#383437;				// 56, 52, 55
$black-80: 		#474245; 				// 71, 66, 69
$black-70: 		#565153; 				// 86, 81, 83
$black-60: 		#686265;				// 104, 98, 101
$black-50: 		#7a7577; 				// 122, 117, 119
$black-40: 		#908b8c; 				// 144, 139, 140
$black-30: 		#a6a1a3; 				// 166, 161, 163
$black-20: 		#bfbbbc; 				// 191, 187, 188
$black-10: 		#dad7d7; 				// 218, 215, 215




$tz-hed: $black-100;
$tz-author: $black-80;
$tz-text: $black-60;
$tz-source: $black-90;


$secondary-hover: darken($secondary, 5%);


$header-ht: 78px;



// --------------------------------------------
// --------------------------------------------
//
// Base Styles
//
// --------------------------------------------
// --------------------------------------------

// * {
//   box-sizing: border-box;
//   -webkit-box-sizing: border-box;
// }



body {
	background: $bg;
	font-family: $base-font;
	font-size: 16px;

}


h5 { padding: 12px; margin: 20px 0; font-size: 36px; background-color: black; color: yellow; }




// --------------------------------------------
// --------------------------------------------
//
// Layout
//
// --------------------------------------------
// --------------------------------------------

.headlines-mod {
	padding: 0 40px;
}


.l-site-width {
	// max-width: 1100px;
	margin: 0 auto;
}



// ==========
//
// NAV
//
// ==========


.site-nav-mod {
	background-color: $primary;
}

nav {
  overflow: hidden;
  padding: 0;
  color: #fff;
  height: $header-ht;
  h1 {
    display: inline-block;
  }
}

// ==========
//
// NAV STRUCTURE
//
// ==========

.logo {
  font-size: 1.6em;
  width: 8%;
  max-width: 150px;
  line-height: $header-ht;
  background-color: $secondary;
  font-weight: normal;
  text-align: center;
  margin-right: 15px;
  &:hover {
  	background-color: darken($secondary, 5%);
  }
}

.input-mod {
  width: 82%;
}

// ==========
//
// SEARCH BAR
//
// ==========

.logo,
.input-mod,
.headline-search-input,
.search-toggle,
.headline-search {
  display: inline-block;
}

.headline-search-input {
  width: 95%;
  position: relative;
  overflow: hidden;
  padding: 13px;
  border-radius: 4px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: hsl(0, 100%, 100%);
  border: 1px solid hsl(0, 0%, 80%);
  -webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.token {
  color: #eee;
  display: inline-block;
}

.search-toggle {
  text-transform: uppercase;
  font-size: 0.9em;
  span {
    padding: 13px;
    background-color: $inactive-bg;
    color: $inactive-text;
    &:hover {
      background-color: darken($inactive-bg, 2%);
      cursor: pointer;
    }
    &.active {
      background-color: $secondary;
      &:hover {
      	background-color: $secondary-hover;
      }
    }
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
}

.headline-search {
  position: relative;
  width: 80%;
}

.search-term-wrapper {
  overflow: hidden;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.tokens {
  li {
    color: hsl(0, 0%, 0%);
    position: relative;
    z-index: 2;
    height: 100%;
    vertical-align: middle;
    color: #fff;
    background-color: $secondary;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    margin-right: 4px;
    -webkit-animation: popIn 0.3s ease;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
    	background-color: darken($secondary, 5%);
    }
  }
  .token-delete {
    content: 'x';
    width: 10px;
    height: 10px;
    margin-left: 10px;
    padding-left: 10px;
    background: darken($secondary, 10%);
    border-left: 1px solid darken($secondary, 15%);
    padding: 3px 10px 3px 10px;
    z-index: 50;
    border-radius: 0 4px 4px 0;
    &:hover {
      background-color: darken($secondary, 15%);
    }
  }
}

#search-term-tokens > li {
    padding: 5px 0 5px 5px;
}

@-webkit-keyframes popIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// ==============================
//
// SUGGESTED KEYWORDS CAROUSEL
//
// ==============================

.result-filter-wrapper {
	padding: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #eee;
  background: #fff;
  box-shadow: 0px 3px 4px 0px rgba(178, 178, 178, 0.2);

}

.result-filter-mod {
  h4 {
    text-transform: uppercase;
    font-size: 0.8em;
    color: $black-40;
    margin-bottom: 1em;
  }
}

// --------------------------------------------
// --------------------------------------------
//
// Tease Styles
//
// --------------------------------------------
// --------------------------------------------

.l-static {
	@include pie-clearfix;
	@include grid-static(150px, 40px);
	.ui-block-1 { float: right; }
	.ui-block-2 { float: left; }
}

.tz-social-mod {
	// background-color: pink;
}

.tz {
	background-color: #fff;
	padding: 15px 25px;
	max-width: 1100px;
	margin: 0 auto;
	border: 1px solid darken($bg, 5%);
	& + & {
		margin-top: 15px;
	}
}


.tz-timestamp {
	color: $black-20;
	font-size: 11px;
	margin-bottom: 15px;
}

.tz-byline { color: $tz-author; }

.tz-head {
	font-size: 18px;
	margin-bottom: 0.5em;
}

.tz-head-link,
.source-link {
	color: $black-70;
	text-decoration: none;
	&:hover { color: $black-80; }
}

.tz-text {
	font-size: 14px;
	line-height: 19px;
	color: $black-50;

	b {
		color: $secondary;
		font-weight: normal;
	}
}


.tz-social-mod {
	background-color: $bg;
	height: 85px;
	padding: 1em;
}


.tz-social {
	font-size: 11px;
	cursor: pointer;
	position: relative;
	&:hover {
		.share-info {
			display: block;
		}
	}
}

.share-info {
	display: none;
	background-color: #fff;
	box-shadow: 0 1px 2px $black-10;
	padding: 10px;
	// position: relative;
	position: absolute;
	max-width: 85px;
	top: 15px;
	right: 35px;
	&:before, &:after {
		position: absolute;
		top: -5px;
		// top: -3px;
		content: '\0020';
		width: 10px;
		height: 10px;
		background-color: white;
		background-color: $black-10;
		transform: rotate(45deg);
		right: 10px;
	}

	&:after { background-color: #fff; top: -4px; }

}


.tz-source {
	color: $black-50;
	font-size: 12px;
	cursor: pointer;

}

.source-link {
	color: $black-50;
}

.share-num {
	font-weight: 800;
	// margin-right: 5px;
	display: inline-block;
	position: relative;
	top: -3px;
	color: $black-20;

}

.social-heat-items {

}

.social-heat-item {
	display: inline-block;
	margin-right: 2px;
	width: 10px;
	height: 10px;
	// background-color: $social-hot;
	border: 1px solid $social-hot;
	border-radius: 50%;
	&:last-child {
		margin-right: 0;
	}

	&:first-child, &:nth-child(2), &:nth-child(3) {
		background-color: $social-hot;
		border: none;
	}
}


.social-shares-label {
	font-size: 12px;
	font-weight: 800;
	margin-bottom: 5px;
	color: $black-20;
}

.social-shares {
	margin-top: 5px;
	&:first-child { margin-top: 0; }
}

.social-shares-icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-size: contain;
	opacity: 0.2;

	.facebook & { background-image: url('../img/facebook.svg'); }
	.twitter & { background-image: url('../img/twitter.svg'); }
}




// --------------------------------------------
// --------------------------------------------
//
// Opener
//
// --------------------------------------------
// --------------------------------------------

.opener-mod {
	text-align: center;
	padding: 40px 0;

	img {
		max-width: 100%;
		opacity: 0.3;
		position: relative;
		left: -20px;
		margin-bottom: 20px;
	}
}

.opener-head {
	font-size: 24px;
	color: $black-50;
	font-weight: 400;
	margin: 20px 0;
}


.what {
	text-decoration: underline;
	cursor: pointer;
	font-size: 12px;
	color: $black-50;
}


// --------------------------------------------
// --------------------------------------------
//
// about
//
// --------------------------------------------
// --------------------------------------------

.about-close {
	background-color: $secondary;
	padding: 5px;
	border-radius: 8px;
	color: white;
	text-decoration: none;;
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: center;
	&:hover {
		background-color: darken($secondary, 8%);
	}
}

.l-about-grid {
	@include media-grid(4, 25px);
}
.about-mod {
	background-color: #fff;
        opacity: 0;
	padding: 40px;
	max-width: 1100px;
	height: 450px;
	margin: 0 auto;
	border: 1px solid darken($bg, 5%);
	position: fixed;
	top: 25%;
	bottom: 50%;
	left: 0;
	right: 0;
        pointer-events: none;
        @include trans(300ms);

        &.is-open {
            opacity: 1;
            pointer-events: auto;
        }
}

.about-hed {
	h4 {
		font-size: 30px;
		font-weight: normal;
		margin-bottom: 15px;
	}
}

.about-us-hed {
	text-align: left;
	font-size: 20px;
	margin-bottom: 15px;
}

.about-us {
	text-align: center;
	margin-top: 25px;
}

.about-item {
	margin-bottom: 25px;
}

.about-name {
	color: $secondary;
	text-decoration: none;
	&:hover {
		color: darken($secondary, 8%);
	}
}

.about-img-mod {
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	margin: 0 auto 8px;
	img { max-width: 100%; text-align: center; }
}


// --------------------------------------------
// --------------------------------------------
//
// footer
//
// --------------------------------------------
// --------------------------------------------

// .footer {
// 	background-color: green;
// 	height: 400px;
// }

.loading {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 50px;
    &.is-open {
        display: block;
    }
}
