// --------------------------------------------
// --------------------------------------------
//
// Upbase imports
//
// --------------------------------------------
// --------------------------------------------

@import "base";




// --------------------------------------------
// --------------------------------------------
//
// Type Variables
//
// --------------------------------------------
// --------------------------------------------

$base-font: 'Open Sans', sans-serif;




// --------------------------------------------
// --------------------------------------------
//
// Color Variables
//
// --------------------------------------------
// --------------------------------------------




$bg: #f9f9f9;

$social-hot: #cb1e48;

$primary: #3e606f;
$secondary: #69a2bb;
$inactive-bg: #548195;
$inactive-text: rgba(255,255,255,0.8);


$black-100: 	#2a272b; 				// 42, 29, 43
$black-90: 		#383437;				// 56, 52, 55
$black-80: 		#474245; 				// 71, 66, 69
$black-70: 		#565153; 				// 86, 81, 83
$black-60: 		#686265;				// 104, 98, 101
$black-50: 		#7a7577; 				// 122, 117, 119
$black-40: 		#908b8c; 				// 144, 139, 140
$black-30: 		#a6a1a3; 				// 166, 161, 163
$black-20: 		#bfbbbc; 				// 191, 187, 188
$black-10: 		#dad7d7; 				// 218, 215, 215




$tz-hed: $black-100;
$tz-author: $black-80;
$tz-text: $black-60;
$tz-source: $black-90;



// --------------------------------------------
// --------------------------------------------
//
// Base Styles
//
// --------------------------------------------
// --------------------------------------------

// * {
//   box-sizing: border-box;
//   -webkit-box-sizing: border-box;
// }



body {
	background: $bg;
	font-family: $base-font;
	font-size: 16px;

}


h5 { padding: 12px; margin: 20px 0; font-size: 36px; background-color: black; color: yellow; }




// --------------------------------------------
// --------------------------------------------
//
// Layout
//
// --------------------------------------------
// --------------------------------------------

.headlines-mod {
	padding: 0 40px;
}


.l-site-width {
	max-width: 900px;
	margin: 0 auto;
}



// ==========
//
// NAV
//
// ==========

nav {
  background: $primary;
  padding: 1em;
  color: #fff;
  h1 {
    display: inline-block;
  }
}

// ==========
//
// NAV STRUCTURE
//
// ==========

.logo {
  width: 5%;
}

.input-mod {
  width: 75%;
}

// ==========
//
// SEARCH BAR
//
// ==========

.logo,
.input-mod,
.search-field,
.search-toggle,
#search_form {
  display: inline-block;
}

.search-field {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 13px;
  border-radius: 4px;
  vertical-align: middle;
  white-space: nowrap;
  background-color: hsl(0, 100%, 100%);
  border: 1px solid hsl(0, 0%, 80%);
  -webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.token {
  color: #eee;
  display: inline-block;
}

.search-toggle {
  text-transform: uppercase;
  font-size: 0.9em;
  span {
    padding: 13px;
    background-color: $inactive-bg;
    color: $inactive-text;
    &.active {
      background-color: $secondary;
    }
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
}

// help
#search_form {
  position: relative;
  width: 80%;
}

.search-term-wrapper {
  overflow: hidden;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 8px;
}


.tokens {
  li {
    color: hsl(0, 0%, 0%);
    position: relative;
    z-index: 2;
    height: 100%;
    vertical-align: middle;
    color: #fff;
    background-color: $secondary;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    margin-right: 4px;
    &:last-child {
      margin-right: 0;
    }
  }
}

// ==============================
//
// SUGGESTED KEYWORDS CAROUSEL
//
// ==============================

.result-filter-mod {
  padding: 1em;
  margin-bottom: 2em;
  border-bottom: 1px solid #eee;
}




// --------------------------------------------
// --------------------------------------------
//
// Tease Styles
//
// --------------------------------------------
// --------------------------------------------

.l-static {
	@include pie-clearfix;
	@include grid-static(150px, 40px);
	.ui-block-1 { float: right; }
	.ui-block-2 { float: left; }
}

.tz-social-mod {
	// background-color: pink;
}

.tz {
	background-color: #fff;
	padding: 40px;
	max-width: 820px;
	margin: 0 auto;
	border: 1px solid darken($bg, 5%);
	& + & {
		margin-top: 15px;
	}
}


.tz-timestamp { color: $tz-source; }

.tz-byline { color: $tz-author; }

.tz-head {
	font-size: 18px;
	letter-spacing: -1px;
	margin-bottom: 0.5em;
}

.tz-head-link,
.source-link {
	color: $black-80;
	text-decoration: none;
}

.tz-text {
	b {
		color: $secondary;
		font-weight: normal;
	}
}

.tz-social {
	font-size: 11px;
	cursor: pointer;
	&:hover {
		.share-info {
			display: block;
		}
	}
}

.share-info {
	display: none;
	background-color: #fff;
	box-shadow: 0 1px 2px $black-10;
	padding: 10px;
	position: relative;
	max-width: 85px;
	top: 10px;
	&:before {
		position: absolute;
		top: -10px;
		content: '\0020';
		width: 15px;
		height: 15px;
		background-color: white;
		transform: rotate(45deg);
		right: 10px;
	}

}


.tz-source {
	color: $black-50;
	font-size: 12px;
	margin-bottom: 15px;
	cursor: pointer;

}

.source-link {
	color: $black-50;
}

.share-num {
	font-weight: 800;
	// margin-right: 5px;
	display: inline-block;
	position: relative;
	top: -3px;

}

.social-heat-items {

}

.social-heat-item {
	display: inline-block;
	margin-right: 3px;
	width: 10px;
	height: 10px;
	background-color: $social-hot;
	border-radius: 50%;
	&:last-child {
		margin-right: 0;
	}
}


.social-shares-label {
	font-size: 12px;
	font-weight: 800;
	color: $black-30;
}

.social-shares { }

.social-shares-icon {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-size: contain;
	opacity: 0.4;

	.facebook & { background-image: url('../img/facebook.svg'); }
	.twitter & { background-image: url('../img/twitter.svg'); }
}
